{% extends "base.html.twig" %}

{% block content %}

<div class="loginform">
	<form id="loginForm" action="/admin" method="post">
		<label for="login">Login:</label>
		<input name="login" type="text" maxlength="60"/>
		<label for="passwort">Passwort:</label>
		<input name="passwort" type="password" maxlength="60"/>
		<input type="submit" value="Einloggen" class="submit waves-effect waves-light btn" />
	</form>
</div>
<a href="/prof" class="waves-effect waves-light btn">Professor Login</a>

{% endblock %}